services:
  grafana:
    image: grafana/grafana:latest
    ports:
      - 3001:3000
    restart: unless-stopped
    volumes:
      - ./grafana:/var/lib/grafana
    env_file:
      - .env

volumes:
  grafana: {}
